{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "about/style.css"%}">
    <script type="application/javascript" src="{% static "about/app.js" %}" defer></script>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2 class="title">About Us</h2>
      </div>
    </div>
      <section class="hidden">
        <div id="login-container">

        </div>
        <p class="caption"> At Movies Store, we offer a vast digital library
           that spans across genres, ensuring there's
           something for every movie lover. Browse our
           extensive collection of films, including the
           latest releases, timeless classics, and hidden
           gems. With just a few clicks, you can rent or
           purchase your favorite titles and instantly
           stream them in high-definition quality.
        </p>
        <div id="slot-machine">
        <div class="thumbnail-holder hidden">
            <div class="thumbnail thumbnail-left"><img src="{% static "/about/img/film.png" %}" alt="film_roll"></div>
        </div>
        <div class="thumbnail-holder hidden" >
            <div class="thumbnail thumbnail-center"><a href="/movies"> <img src="{% static "/about/img/play_button.png" %}" alt="play_button"> <p class="action">browse now!</p> </a></div>
        </div>
        <div class="thumbnail-holder hidden">
            <div class="thumbnail thumbnail-right"><img src="{% static "/about/img/film.png" %}" alt="film_roll">
            </div>
        </div>
        </div>
        <p class="caption">
        Discover the convenience of our digital platform,
        where you have the flexibility to watch movies
        on your preferred device, whether it's a smart
        TV, tablet, or smartphone. With our intuitive
        search and recommendation features, finding your
        next movie night pick has never been easier.
    </p>
    </section>
      </div>
    </div>
{% endblock extra_css %}
{% endblock content %}