{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "movies/style.css" %}">
    <script type="application/javascript" src="{% static "movies/app.js" %}" defer></script>
{% endblock extra_css %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2 class="title">Find New Movies</h2>
          <form method="GET">
            <div class="root">
              <div class="col-auto">
                <div class="input-group col-auto grid">
                    <label style="display: flex">
                        <input type="text" class="search"  name="search" placeholder="Search for any movie" autocomplete="off">
                        <button class="btn bg-dark text-white" type="submit">Search</button>
                    </label>
                    <div class="popular">
                        <p>Fan Favorites</p>
                        {% for movie in template_data.movies %}
                            {% if forloop.counter <= 3 %}
                                {%if movie.user_rating > 8%}
                                    <a href="{% url 'movies.show' id=movie.id %}">
                                        <p class="popular-movie"> {{ movie.name }} </p>
                                    </a>
                                {% endif %}
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
              </div>
              <div class="col-auto">
              </div>
            </div>
          </form>
      </div>
    </div>
    <div class="child hidden">
      {% for movie in template_data.movies %}
      <div class="col-md-4 col-lg-3 mb-2">
          <div class="node movie-node" data-name="{{ movie.name }}">
          <a href="{% url 'movies.show' id=movie.id %}">
            <img src="{{ movie.image.url }}" class="inner">
            <div class="card-body text-center">
                <p class="movie_title">{{ movie.name }}</p>
              <div class="branch child-branch"></div>
          </div> </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}