{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>List of Movies</h2>
          <p class="card-text">
          <form method="GET">
            <div class="row">
              <div class="col-auto">
                <div class="input-group col-auto">
                  <div class="input-group-text">Search</div>
                    <label>
                        <input type="text" class="form-control" name="search_term">
                    </label>
                </div>
              </div>
              <div class="col-auto">
                <button class="btn bg-dark text-white" type="submit">Search</button>
              </div>
            </div>
          </form>
        </p>
        <hr />
      </div>
    </div>
    <div class="row">
      {% for movie in template_data.movies %}
      <div class="col-md-4 col-lg-3 mb-3">
        <div class="card h-100">
          <div class="p-2">
            <img src="{{ movie.image.url }}" 
                class="card-img-top rounded" 
                alt="{{ movie.name }}"
                style="width: 100%; height: 400px; object-fit: cover;">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">{{ movie.name }}</h5>
            <span class="badge bg-dark mb-2">{{ movie.rating }}</span>
            <div class="mb-2">
              <span class="text-warning">
                <i class="fas fa-star"></i> {{ movie.user_rating }}/10
              </span>
            </div>
            <a href="{% url 'movies.show' id=movie.id %}" class="btn bg-dark text-white">
              View Details
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}