body {
    background-color: #202020;
    padding: 0vw;
    margin: 0;
}
h2 {
    color: #d61212;
}
p {
    justify-self: center;
    color: #fdfdfd;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 75vh;
}
.hidden {
    opacity: 0;
    transition: all 1.5s;
}
.show {
    opacity: 1;
}
.thumbnail {
    background-color: #fdfdfd;
}