{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4 forgot-password-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
            <div class="text-center mt-3">
                <a href="{% url 'accounts.forgot_password' %}" class="text-decoration-none">Forgot Password?</a>
            </div>
          <div class="card-body">
            <h2>Forgot Password</h2>
            <hr />
            {% if template_data.error %}
            <div class="alert alert-danger" role="alert">
              {{ template_data.error }}
            </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              <p>
                <label for="username">Username</label>
                <input id="username" type="text"
                      name="username" required
                      value="{{ request.POST.username }}"
                      class="form-control">
              </p>
              {% if template_data.show_answer %}
              <p>
                <label for="security_answer">Security Question:</label>
                <div class="mb-2 text-secondary">{{ template_data.security_question }}</div>
                <input id="security_answer" type="text"
                      name="security_answer" required
                      class="form-control"
                      placeholder="Your answer">
              </p>
              {% endif %}
              <div class="text-center">
                <button type="submit"
                  class="btn bg-dark text-white">
                  {% if template_data.show_answer %}
                    Verify Answer
                  {% else %}
                    Continue
                  {% endif %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}